.editor-link {
  display: none;
}
.cms-editor-active .editor-link {
  display: block;
}

/* Fix footer area to bottom os screen even if content above it too short to push it down */
/* https://codepen.io/cbracco/pen/zekgx */
/*html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  padding-bottom: 5rem;
} */
/* End Push footer to bottom */

body,
p {
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Oswald', sans-serif;
}
.callout {
    border: 0;
}

.layer-1,
.layer-2,
.layer-3,
.layer-4,
.layer-5,
.layer-6 {
    padding: 50px 0;
}

.layer-2 {
    background: #fdec6f;
}
.layer-3 {
    background: #efefef;
}
.layer-5 {
    background: #efefef;
}
.layer-6 {
    background: #111;
}
.layer-6 * {
    color: #fff;
}
.fa-facebook {
    font-size: 3rem !important;
}



/* Responsive images */

.square {
    position: relative;
    padding-bottom: 75%; /* 16:9 */
    height: 0;
}
.square img {
    position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
    object-fit: cover;
    -moz-object-fit: cover;
    -ms-object-fit: cover;
    -o-object-fit: cover;
}

/* -------- */
/* LINKS
/* ---------- */
a {
    color: #333;
}

.content-wrapper a {
    text-decoration: underline;
}
.main-wrapper a.button,
.main-wrapper button {
    text-decoration: none;
}

a[href$=".pdf"]:before {
    content: "\f1c1 \00a0"; /* this is your text. You can also use UTF-8 character codes as I do here. This is FA symbol for PDF and the a 'space' */
    font-family: FontAwesome;
}

/* ------ */
/* EMBEDS */
/* ------ */

iframe {
    border: 0;
    min-height: 50px;
    background: #eee url('../images/icons/spinner.gif') no-repeat center center;
}
.responsive-embed {
    margin-top: 2rem;
}

@media screen and (min-width: 40em) {
    
}

@media screen and (min-width: 64em) {
   
}

@media screen and (min-width: 75em) {
    
}