---
title:
description:
meta_title:
summary_image:
summary_html:
sort_number:
background_1_image:
background_1_image_position:
background_2_image:
background_2_image_position:
---

<section class="vb-half-and-half light">
    
    <div class="grid-x grid-padding-x">
      
        <div class="medium-7 large-6 cell">
               
            <div class="vb-half-text-left">
                        
                <div class="editable"></div>

            </div>
               
        </div>
            
        <div class="medium-5 large-6 cell bgd-image" style="background-image: url({{ site.baseurl }}{{ page.background_1_image }}); {% if page.background_1_image_position %}background-position: {{ page.background_1_image_position }};{% endif %}">
            <img class="show-for-print" src="{{ site.baseurl }}{{ page.background_1_image }}" alt="{{ page.title }}" />
        </div>
    
    </div>
    
    <div class="show-for-small-only hide-for-print">
        <img src="{{ site.baseurl }}{{ page.background_1_image }}" alt="" />
    </div>
  
</section>

<section class="vb-half-and-half">
    
    <div class="grid-x grid-padding-x">
            
        <div class="medium-5 large-6 cell bgd-image" style="background-image: url({{ site.baseurl }}{{ page.background_2_image }}); {% if page.background_2_image_position %}background-position: {{ page.background_2_image_position }};{% endif %}">
            <img class="show-for-print" src="{{ site.baseurl }}{{ page.background_2_image }}" alt="{{ page.title }}" />
        </div>
      
        <div class="medium-7 large-6 cell">
               
            <div class="vb-half-text-right">
                        
                <div class="editable"></div>

            </div>
               
        </div>
    
    </div>
    
    <div class="show-for-small-only hide-for-print">
        <img src="{{ site.baseurl }}{{ page.background_2_image }}" alt="" />
    </div>
  
</section>