---
title: Pest Control
description: >-
  Pest control is an essential service that can offer a very good income stream
  over the warmer months. Contact us to learn more about this franchise
  opportunity.
meta_title: 'Pest Control Franchise - Product, Equipment & Training Provided'
summary_image: /uploads/images-general/pest-control-summary.jpg
summary_html: >-
  <p>Pest control is an essential service that can offer a very good income
  stream over the warmer months.</p>
background_1_image: /uploads/images-general/pest-control-woman-mouse.jpg
background_1_image_position: right center
background_2_image: /uploads/images-general/man-spraying-house.jpg
background_2_image_position:
sort_number: 1
---

<section class="vb-half-and-half light">
    
    <div class="grid-x grid-padding-x">
      
        <div class="medium-7 large-6 cell">
               
            <div class="vb-half-text-left">
                        
                <div class="editable"><h1>Pest Control Franchise</h1><h3>Your opportunity to be in business at hugely discounted prices!</h3><p>Pest control is an essential service that can offer a very good income stream over the warmer months.</p></div>
                    
                <div class="callout">
                    <div class="editable text-center"><h3 class="cross">$19,990</h3><p class="lead"><strong>+ $3000<br />for product, equipment &amp; training</strong></p><h2>NOW ONLY</h2><h3>$9,995*</h3><p class="lead"><strong>+ $3000<br />for product, equipment &amp; training</strong></p><p><em>* Be in quick. This half-price deal applies only to the first FIVE franchises sold.</em><br /><em>Prices exclude GST.</em></p></div>
                </div>

            </div>
               
        </div>
            
        <div class="medium-5 large-6 cell bgd-image" style="background-image: url({{ site.baseurl }}{{ page.background_1_image }}); {% if page.background_1_image_position %}background-position: {{ page.background_1_image_position }};{% endif %}">
            <img class="show-for-print" src="{{ site.baseurl }}{{ page.background_1_image }}" alt="{{ page.title }}" />
        </div>
    
    </div>
    
    <div class="show-for-small-only hide-for-print">
        <img src="{{ site.baseurl }}{{ page.background_1_image }}" alt="" />
    </div>
  
</section>

<section class="vb-half-and-half">
    
    <div class="grid-x grid-padding-x">
            
        <div class="medium-5 large-6 cell bgd-image" style="background-image: url({{ site.baseurl }}{{ page.background_2_image }}); {% if page.background_2_image_position %}background-position: {{ page.background_2_image_position }};{% endif %}">
            <img class="show-for-print" src="{{ site.baseurl }}{{ page.background_2_image }}" alt="{{ page.title }}" />
        </div>
      
        <div class="medium-7 large-6 cell">
               
            <div class="vb-half-text-right">
                        
                <div class="editable"><h2>Why Pest Control?</h2><p>The Pest Control franchise is quite seasonal, with the main workload occurring through the warmer months. This would suit someone with other work that complements this seasonality.</p><h3>Prefer an all year round business?</h3><p>Your situation may mean that our other franchise opportunity provides a more balanced income stream. Check out <a href="/house-wash-roof-pest-control/">House Wash, Roof &amp; Pest Control</a>.</p><p>&nbsp;</p></div>

            </div>
               
        </div>
    
    </div>
    
    <div class="show-for-small-only hide-for-print">
        <img src="{{ site.baseurl }}{{ page.background_2_image }}" alt="" />
    </div>
  
</section>