<div class="rev_slider_wrapper hide-for-print">			
	<!-- START REVOLUTION SLIDER 5.0 auto mode -->
	<div id="rev_slider" class="rev_slider"  data-version="5.4.4">
		<ul>	
						<!-- SLIDE  -->
			<li data-transition="fade">
							
				<!-- MAIN IMAGE -->
				<img src="{{ site.baseurl }}/uploads/slider/slider-1.jpg"  alt="">							

				<!-- LAYER NR. 1 -->
				<div class="tp-caption News-Title   tp-resizeme rs-parallaxlevel-0" 							
								 data-x="left" data-hoffset="80" 
								 data-y="top" data-voffset="450" 							
								 data-whitespace="normal"
								 data-transform_idle="o:1;"			
								 data-transform_in="o:0" 
								 data-transform_out="o:0" 							 
								 data-start="500" 							 							
								>REWARDING WORK 
				</div>

							
			</li>
						
			<!-- SLIDE  -->
			<li data-transition="fade">
							
				<!-- MAIN IMAGE -->
				<img src=".{{ site.baseurl }}/uploads/slider/slider-2.jpg"  alt="">							

				<!-- LAYER NR. 1 -->
				<div class="tp-caption News-Title   tp-resizeme rs-parallaxlevel-0" 							
								 data-x="left" data-hoffset="80" 
								 data-y="top" data-voffset="450" 							
								 data-whitespace="normal"
								 data-transform_idle="o:1;"			
								 data-transform_in="o:0" 
								 data-transform_out="o:0" 							 
								 data-start="500" 							 							
								>HELPING CUSTOMERS
				</div>						
			</li>

			<!-- SLIDE  -->
			<li data-transition="fade">
							
				<!-- MAIN IMAGE -->
				<img src="{{ site.baseurl }}/uploads/slider/slider-3.jpg"  alt="">							

				<!-- LAYER NR. 1 -->
				<div class="tp-caption News-Title   tp-resizeme rs-parallaxlevel-0" 							 
								 data-x="left" data-hoffset="80" 
								 data-y="top" data-voffset="450" 							
								 data-whitespace="normal"
								 data-transform_idle="o:1;"			
								 data-transform_in="o:0" 
								 data-transform_out="o:0" 							 
								 data-start="500" 							 							
								>YOUR OWN BUSINESS 
				</div>						
			</li>
		</ul>				
	</div><!-- END REVOLUTION SLIDER -->
</div><!-- END REVOLUTION SLIDER WRAPPER -->	


<script>
	
	var revapi;
	jQuery(document).ready(function() {		
		revapi = jQuery("#rev_slider").revolution({
			sliderType: "standard",
			sliderLayout: "auto",
			jsFileLocation: "revolution/js/",
			//fullScreenOffsetContainer:".header",
			//fullScreenOffset:"50px",
			delay: 9000,
			navigation: {
				arrows: {enable:true}				
			},			
			responsiveLevels: [1240, 1024, 778, 480],
            /* [DESKTOP, LAPTOP, TABLET, SMARTPHONE] */
            gridwidth: [1240, 1024, 778, 480],
            /* [DESKTOP, LAPTOP, TABLET, SMARTPHONE] */
            gridheight: [725, 768, 960, 720]	
		});
		
	});	/*ready*/
</script>